<div class="user-details">
    <h1> About </h1>
    <p>Hi! I'm Cassim Khouani and I'm 18 yo. I'm going next year in Preps School to involve my Math skills and find the best school who corresponding the best to my philosophy.</p>
  
    <p>About me, I have a passion in particular: computing, that I practice since a young age. This love for the code was transmitted to me by my uncles who pushed me to learn and develop by myself!</p>
    <p>I'm currently working on IT Security which is an area that interests me enormously because of the richness of its possibilities.</p>
    <p><a class="project-link" href="https://cassimkhouani.com">More</a></p>  
  </div>
   
  
  