<div class="user-details">
    <h1> About </h1>
    <p>Hi! I'm Cassim Khouani and I'm 18 yo. I'm going next year in Preps School to involve my Math skills and find the best school who corresponding the best to my philosophy.</p>
  
    <p>About me, I have a passion in particular: computing, that I practice since a young age. This love for the code was transmitted to me by my uncles who pushed me to learn and develop by myself!</p>
  
    <h2>My skills :</h2> 
      <ul>
          <li>- HTML/CSS</li>
          <li>- PHP</li>
          <li>- C et Java</li>
          <li>- Un peu de C#</li>
          <li>- Python</li>
          <li>- Javascript/Ajax</li>
          <li>- ReactJS</li>
          <li>- NodeJS</li>
          <li>- MySQL</li>
          <li>- Versioning: GIT</li>
      </ul>
    
  
    <h2>Personal experiences:</h2>
      <ul>
        <li>- In High Scool, I participated to Alkindi, a competition of cryptography which I arrived in semi-final</li>
      </ul>
    
  
    <h2>Hobbies</h2>
      <ul>
        <li>- Bike</li>
        <li>- Music: Clarinet and Piano</li>
        <li>- Electronic : Raspberry Pi and Arduino</li>
        <li>- Blog</li>
        <li>- Video Games</li>
      </ul>
    
  </div>
   
  
  