<div class="user-details">
    <h1> My Projects </h1>
  </div>
  <div class="user-projects">
    <div class="images-right">
      <img alt="onyx" src="{{ "/assets/img/onyx.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Onyx </h3>
      <p>Onyx is an open source voice assistant. It can be used everywhere and help you. It is open so it can be remixed, improved...</p>
      <p>I lead this project since 2014, it is open source and I always keep it up to date.</p>
      <a class="project-link" href="https://onyxlabs.fr" target="_blank">More</a>
    </div>
  </div>
  <div class="user-projects">
    <div class="images-left">
      <img alt="dashyx" src="{{ "/assets/img/dashyx.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3> Dashyx </h3>
      <p>Dashyx is an application that allows you to group all your applications into one for better productivity.</p>
      <p>This project is not open source and I develop it since June 2018.</p>
      <a class="project-link" href="https://dashyx.com" target="_blank">More</a>
    </div>
  </div>