---
layout: default
---

<div id="particles-js">
    <div class="header">
        <h1>
          <span class="site-title">{{site.username}}</span>
        </h1>
        <div class="header-icons">
          <a aria-label="Envoyez un mail" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
          <a aria-label="Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        </div>
        <div class="header-links">
          <a class="link" href="#about" data-scroll>A propos</a>
          <a class="link" href="/fr/about" data-scroll>CV</a>
          <a class="link" href="#projects" data-scroll>Projets</a>
          <a class="link" href="https://doc.aituglo.com">Cheatsheets</a>
          <a class="link" href="https://blog.aituglo.com">Blog</a>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<section id="about">
    {% include fr/about.html %}
</section>
<section id="projects">
    {% include fr/projects.html %}
</section>
