 <div class="user-details">
  <h1> À propos </h1>
  <p>Je m'appelle Cassim et j'ai 18 ans. J'entre actuellement dans une Prépa MP au Lycée Chatelet à Douai. J'ai choisi cette prépa pour me préparer aux mieux aux différents concours, ne sachant pas encore pour le moment vers quel école ou domaine m'orienter.</p>

  <p>Me concernant, j'ai une passion en particulier : l'informatique, que je pratique depuis mon plus jeune âge. Cet amour pour le code m'a été transmis par mes oncles qui m'ont poussé à apprendre et à developper par moi même !</p>
  <p>Je me sens de plus en plus concerné par la sécurité informatique qui est un domaine que je trouve très intéressant par sa richesse.</p>
  <p><a class="project-link center" href="https://resume.aituglo.com">En savoir plus</a></p>  
</div>
 

