<div class="user-details">
  <h1> Mes Projets </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="onyx" src="{{ "/assets/img/onyx.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Onyx </h3>
    <p>Onyx est un assistant vocal et visuel open source. Il est totalement personnalisable selon vos besoins et vos envies. C'est une Intelligence Artificielle qui s'adapte en fonction de vous.</p>
    <p>Je mène ce project depuis 2014, il est open source et je le maintiens toujours à jours.</p>
    <a class="project-link" href="https://onyxlabs.fr" target="_blank">En Savoir Plus</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="dashyx" src="{{ "/assets/img/dashyx.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Dashyx </h3>
    <p>Dashyx est une application qui permet de regrouper toutes vos applications en une seule pour permettre une meilleure productivité.</p>
    <p>Ce projet n'est pas open source et je le developpe depuis Juin 2018.</p>
    <a class="project-link" href="https://dashyx.com" target="_blank">En Savoir Plus</a>
  </div>
</div>
